# ==========================================================
# requirements-api.txt
# ==========================================================

fastapi
uvicorn[standard]
python-multipart

tensorflow
numpy
opencv-python
pillow
scikit-learn
pandas
matplotlib

pydantic
pydantic-settings

python-dotenv

joblib
pickle-mixin

optuna

onnx
onnxruntime

mlflow

tqdm

seaborn

reportlab

jinja2